<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<section>
						<h2>Welcome to my About page!</h2>
					</section>
					
					<section>
						<h3>John Niagwan</h3>
                        <p>My name is <b>John Niagwan</b></b> with student ID: <b>121092225</b> currently in my second semester of Business Information Technology (BTT) at Seneca Polytechnic.</p>
                    </section>
					<!-- End your code here  -->



				</main>
			</div>
		</div>